<!DOCTYPE html>
<html lang="en">
{{ template "header" }}
<body>

    <div class="container">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">Generador de Pruebas</h4>
                <form action="/siguiente" method="POST">
                    <div class="form-group">
                        <label for="example-text-input" class="col-2 col-form-label">Enunciado</label>
                        <input class="form-control" type="text" value="" id="" name="enunciado" placeholder="enunciado">
                    </div>
                    <div class="form-group">
                        <label for="example-text-input" class="col-2 col-form-label">Alternativa 1</label>
                        <input class="form-control" type="text" value="" id="" name="enunciado" placeholder="">
                        <label for="example-text-input" class="col-2 col-form-label">Alternativa 2</label>
                        <input class="form-control" type="text" value="" id="" name="enunciado" placeholder="">
                        <label for="example-text-input" class="col-2 col-form-label">Alternativa 3</label>
                        <input class="form-control" type="text" value="" id="" name="enunciado" placeholder="">
                        <label for="example-text-input" class="col-2 col-form-label">Alternativa 4</label>
                        <input class="form-control" type="text" value="" id="" name="enunciado" placeholder="">
                        <label for="example-text-input" class="col-2 col-form-label">Alternativa 5</label>
                        <input class="form-control" type="text" value="" id="" name="enunciado" placeholder="">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-warning">Siguiente</button>
                    </div>
                </form>
            </div>
        </div>
        
    </div>
    
</body>

{{ template "footer" }}
</html>